/.venv/
/data/*
!/data/README.md
/help/

.ipynb_checkpoints/
__pycache__/
tmp/

*.db
*.DS_Store
*.[Cc][Ss][Vv]
*.xlsx
*.xls
*.zip
*.t
*.db
*.json
*.DS_Store
*.ipynb_checkpoints
*.db-journal
*.bak

*.idea
*.pdf
