/.venv/
/data/*
!/data/README.md
/help/

.ipynb_checkpoints/
__pycache__/
tmp/
mysql/
.env

*.db
*.DS_Store
*.[Cc][Ss][Vv]
*.xlsx
*.xls
*.zip
*.t
*.db
*.json
*.DS_Store
*.ipynb_checkpoints
*.db-journal
*.bak
ssh*

*.idea
